@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
body,
html,
section {
    height: 100%
}

#section03 a span::after,
#section03 a span::before,
section::after {
    content: ''
}

#section03 a span::after,
#section05 a span {
    position: absolute;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff
}

#section05 a span,
#section06 a span {
    left: 50%;
    width: 24px;
    height: 24px;
    box-sizing: border-box
}

#section03 a span,
#section03 a span::after,
#section05 a span,
#section06 a span,
.content {
    box-sizing: border-box
}

h2,
section h1 {
    white-space: wrap;
    text-shadow: 2px 2px #000;
    color: snow
}

.demo a,
h2,
section h1 {
    color: snow
}

.demo a,
p .github {
    letter-spacing: .1em;
    text-decoration: none
}

* {
    margin: 0;
    padding: 0
}

section {
    position: relative;
    width: 100%
}

section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%)
}

section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: normal 300 4em/1 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 700
}

#section03 {
    background: url(img1.svg) center center/cover no-repeat
}

#section06 {
    background: linear-gradient(-790deg, #c2dde6 73%, rgba(0, 0, 0, 0) 30%), url(code.jpg) center center/cover no-repeat
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 45%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    transition: opacity .3s
}

.demo a:hover {
    opacity: .5
}

#section03 a {
    padding-top: 60px
}

#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%
}

#section03 a span::after {
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box
}

@-webkit-keyframes sdb03 {
    0%,
    100% {
        opacity: 0
    }
    30% {
        opacity: 1
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0
    }
}

@keyframes sdb03 {
    0%,
    100% {
        opacity: 0
    }
    30% {
        opacity: 1
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0
    }
}

#section05 a,
#section06 a {
    padding-top: 70px
}

#section05 a span {
    top: 0;
    margin-left: -12px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0
    }
}

#section06 a span {
    position: center;
    top: 0;
    margin-left: 1em;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-animation: sdb06 1.5s infinite;
    animation: sdb06 1.5s infinite
}

@-webkit-keyframes sdb06 {
    0% {
        -webkit-transform: scaleY(0) rotateZ(360deg) translate(0, 0);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -webkit-transform: scaleY(720deg) rotateZ(360deg) translate(-20px, 20px);
        opacity: 0
    }
}

@keyframes sdb06 {
    0% {
        transform: scaleY(0) rotateZ(360deg) translate(0, 0);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        transform: rotateY(720deg) rotateZ(360deg) translate(-20px, 20px);
        opacity: 0
    }
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(230deg, #F79F79 50%, #AAF0D1 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1
}

#spin:after,
.content {
    transform: translate(-50%, -50%);
    left: 50%
}

.content,
h2 {
    position: absolute
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    z-index: 9999;
    padding: 4vmin;
    text-align: justify;
    top: 50%
}

h2 {
    left: 30%;
    top: 20%;
    font: normal 300 4em/1 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 700
}

p .github {
    z-index: 9999;
    color: #000;
    font: normal 400 20px/1 'Josefin Sans', sans-serif
}

@keyframes slide {
    0% {
        transform: translateX(-25%)
    }
    100% {
        transform: translateX(25%)
    }
}

#spin {
    color: #FFFF38
}

#spin:after {
    content: "";
    animation: spin 5s linear infinite
}

@keyframes spin {
    0% {
        content: "DevOps"
    }
    10% {
        content: "CSS"
    }
    20% {
        content: "HTML"
    }
    30% {
        content: "JavaScript"
    }
    40% {
        content: "Ruby on Rails"
    }
    50% {
        content: "Sotware Testing"
    }
    60% {
        content: "Linux"
    }
    70% {
        content: "Docker"
    }
    80% {
        content: "AWS"
    }
    90% {
        content: "Vagrant"
    }
}